@media only screen and (max-width: 480px) {
    
    .container h2{
        font-size: 3em;
}
    
    
    
    
    .medium-2 {
        padding-top: 0.5em;
    }
    
    .medium-3 {
        padding-top: 1em;
    }
    
    
    .container{
        padding: 1em 0 2em 0;
    }
    
   .project-image{
    padding-top: 0;
    height: auto;
    position: relative;
}

    
}

