/* ## TYPE ######################################*/

.container h1{
    color: #1779ba;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

.container h2{
    color: #191919;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 8em;
    letter-spacing: -0.04em;
    line-height: 125%;
    z-index: 10;
    position: relative;
}

header h3{
    color: #FFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.container h3{
    color: #FFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-align: left;
    padding: 0.5em;
}

.info h3{
    color: #1779ba;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 0;
}

footer h3{
    color: #1779ba;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.info h4{
    color: #1779ba;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

header h4{
    color: #FFF;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 1em;
    margin-top:-0.5em;
}

footer h4{
    color: #666;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.about h5{
    color: #1779ba;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
}

.home h5{
    font-family: 'Fira Sans', sans-serif;
}


/* ## END_TYPE ######################################*/






/* ## HOME ######################################*/

.home{
    height: auto;
    background: #222;
    top:0;
    padding-top: 10rem;
        transition: top 5s ease;
    transition: background-color 2s ease;
}

header{
    height: 10em;
    padding: 4em 0 0 0;
    float: left;
    z-index: 999;
    position: fixed;
}

.scrolled {
    background: #f7f7f7;

}

.about{
    height: 30rem;
    padding-top: 4rem;
}

.changeHeader{
    padding: 2em 0 0 0;
    transition: all 1s;
}

.changeHeader h3{
    color: #1779ba;
    font-weight: 900;
}

.changeHeader h4{
    color: #1779ba;
    font-weight: 400;
}

.info{
/*    background-color: aqua;*/
}

.info a:hover{
    text-decoration: line-through;
}




/* ## CONTENT ######################################*/

.container{
    height: auto;
    background: #f7f7f7;
    padding: 3em 0 5em 0;
/*
    position: relative;
    z-index: 2;
*/
}


.title{
    margin: 8rem 0 6rem 0;
}


.image{
    display: none;
    position: fixed;
}


/*
.on{
    display: block;
    float: left;
    z-index: 1;
    position: absolute;
}
*/

.tag{
/*    height: 2rem;*/
    background: #1779ba;
    float: left;
    margin-top: -7rem;
    z-index: 30;
    position: relative;
}

.main{
    position: relative;
}




/* ## FOOTER ######################################*/

.footer{
    height: auto;
    background: #222;
    top: 0;
    padding-top: 10rem;
}


.info{
/*    background: red;*/
    height: auto;
    padding: 2rem 0 2rem 0;
}







/* ## MODAL ######################################*/
.modal {
    display: none;
    background: rgba(0,0,0, 0.8);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal-isOpen {
  display: block;  
}

.modal-close {
    font-size: 1.6rem;
    float: right;
    background: none;
    
}

.modal-dialog {
    background: yellow;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 20px;
/*    position: fixed;*/
    overflow-y: hidden!important;
    float: inherit;
}

.test{
    top:200em;
    height: 20em;
    background: red;
    overflow: auto;
    position: relative;
}


